<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1055497464249-o0n1m3c2p4njs7v9sb4l09p0t4jokkc0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1055497464249-o0n1m3c2p4njs7v9sb4l09p0t4jokkc0</string>
	<key>API_KEY</key>
	<string>AIzaSyBDwK3DDRWzcHeCUeRNiV49TYJuoVB9u9I</string>
	<key>GCM_SENDER_ID</key>
	<string>1055497464249</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pedrogomesbranco.CrowdSearch</string>
	<key>PROJECT_ID</key>
	<string>crowdsearch-599f4</string>
	<key>STORAGE_BUCKET</key>
	<string>crowdsearch-599f4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1055497464249:ios:3c7999d93fe5600e</string>
	<key>DATABASE_URL</key>
	<string>https://crowdsearch-599f4.firebaseio.com</string>
</dict>
</plist>